<form class="" action="<%= picture_likes_path picture %>" method="Post">

  <input type="submit" name="" value="Like">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
</form>
