<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
  </head>
  <body>

    <nav>
      <a href="/posts">Post</a>
      <a href="/posts/new">New Post</a>
    </nav>
    <h1>New Post Page</h1>

    <form action="/posts" method="POST" >
      name<br>
      <input type="text" name="name" value="">
      <br>
      body:<br>
      <input type="text" name="body" value="">
      <br><br>
      <input type="submit" value="Submit">
    </form>



  </body>
</html>
